* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body, html {
	overflow-x: hidden;
	width: 100%;
}

a { 
	text-decoration: none;
	 color: black; 
}

.main-header {
	margin: 3%;
	margin-top: 0%;
}
.main-header h2 {
	margin-bottom: 1%;
}

.main-nav  {
	margin-top: 0%;
	width: 97%;
	list-style: none;
	display: flex;
	justify-content: space-between;
		
}

.main-nav-list {
	width: 20%;
	display: flex;
	list-style: none;
	justify-content: space-between;
	
}
.nav { 
	margin-top: 0;
	padding-top: 15%;
}
#hébergblue {
	border-top: #0065FC solid 2px;
}
#hébergblue a {
	color: #0065FC;
}

.searchbox {
	font-size: large;
	font-weight:  extra bold;
	margin-top: 2%;
	margin-bottom: 0;
	padding: auto;
	
	
}

.searchbox label, input, button {
	padding: 1%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 1%;
	
}
.searchbox label {
	background-color: #F2F2F2;
	margin-right: 0;
	border-radius: 15px 0 0 15px;
	padding-right: 1.2%;
	padding-left: 1.2%;
	border-top: #F2F2F2 1px solid;
	border-bottom: #F2F2F2 1px solid;
}
.searchbox input {
	border: black;
	color: black;
	font-weight: 600;
	border-top: #F2F2F2 1.5px solid;
	border-bottom: #F2F2F2 1.5px solid;
	padding-right: 0;
	margin-right: 0;
}
.searchbox button {
	background-color: #0065FC;
	color: white;
	border: none;
	border-radius: 0 15px 15px 0;
	padding: auto;
	border-top: #0065FC 1px solid;
	border-bottom: #0065FC 1px solid;
}
.mobile {
	display: none;
}
.box {
	display: flex;
	align-items: baseline;

}
.ligne {
	width: 65%;
	margin: 0%;
	padding: 0%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-weight: 700;
	font-size: 115%;
	display: flex;
	justify-content: space-between;
	justify-self: flex-start;
	align-items: baseline;
}

.filters .fa-solid {
	font-size: 125%;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 40px;
	padding: 65%;	
}

.filters {
	padding: auto;
	display: flex;
	column-gap: 35%;
	border: 3px solid lightgrey;
	border-radius: 40px;
	padding-right: 7%;
	align-items: baseline;
	white-space: nowrap;
	overflow: visible;
}

#filter {
	border: none;
	margin-right: 2%;
	padding: 0;
}

.info .fa-solid {
	font-size: 75%;
	color: #0065FC;
	padding: 0.4% 0.7% 0.4% 0.7%;
	border: 2px solid #F2F2F2;
	border-radius: 100px;
}
.first-section {
	margin: 3%;
	width: 100%;
	max-width: 100%;
	display: flex;

}

.hébergements, .populaires {
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 2%;
}
.hébergements {
	width: 60%;
	}

.populaires {
	width: 30%;
	margin: 0 5% 0 3%;
	padding: 0%;
}
.populaires h2 {
	padding-top: 7%;
	padding-bottom: 1%;
	padding-left: 6%;
}
.table, .tables {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 2%;
	margin-bottom: 2.5%;
	padding-left: 0;
	margin-left: 0;	
}

.fa-star {
	font-size: 80%;
	color: lightgrey;
}
.checked {
	color: #0065FC;
}
.cards {
  width: 30%; /*1*/
  margin: 1%; /*2*/
  margin-left: 0;
  margin-right: 2%;
  background-color: white; /*3*/
  box-shadow: 0px 5px 20px #999; /*4*/
  border-radius: 20px;
  padding: 0.5%;
}
.cards a { /*5*/
  color: #333; 
  text-decoration: none;
}

.card {
	width: 95%;
}
.card-image {
	height: 60%;
}


.card-image img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0.5%;
  margin: 0%;
}

.cards-body {
	padding: 0.5%;
	padding-bottom: 0%;
	margin: 0.5%;
}
.populaires .cards-body {
	padding: 4%;
}
#br {
	white-space: nowrap;
}
.cards-body p {
	padding: 0.5%;
	margin: 0.5%;
}
.cards-body h4 {
	padding-top: 3%;
	margin: 0.5%;
}

.side {
	justify-content: space-between;
}

.icone {
	position: relative;
	top: 40%;

}
.populaires h2 .fa-solid {
	font-size: 100%;
	position: relative;
	left: 27%;
	color: black;
}
#black {
	align-self: flex-end;
}
.populaires .card {
	background-color: white;
	display: flex;
	width: 87%;
	height: 24%;
	border-radius: 20px;
	padding: 1%;
	margin: 5%;
}
.icons {
	align-self: flex-end;
}

.populaires .image {
	position: relative;
	width: 40%;
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20PX;
	overflow: hidden;
}
.cards-image { 
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

}
.populaires img {
	 border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
	transition-property: filter width; 
  transition-duration: .3s;
  transition-timing-function: ease;
}

.card:hover .image img { /*6*/
  width: 175%;
}

.populaires .card-body {
	margin: 2%;
}

.second-section {
	margin-left: 3%;
	margin-right: 4%;
	margin-top: 3%;
	margin-bottom: 3%;
}
.second-section h2 {
	padding-bottom: 1%;
}

.activités {
	display: flex;
	justify-content: space-between;
}
.post {
	width: 22%;
	overflow: hidden;
	background-color: white;
	border-radius: 20px;
	box-shadow: 3px 3px 3px 3px #F2F2F2 ;
	padding: 0px;
}
.small {
	width: 22%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.petit-post {
	width: 100%;
	overflow: hidden;
	background-color: white;
	border-radius: 20px;
	box-shadow: 3px 3px 3px 3px #F2F2F2 ;
	padding: 0px;

}


.post img,.petit-post img{
	width: 100%;
	border-top-left-radius: 20px ;
	border-top-right-radius: 20px;	
}

.activités h3 {
	margin-left: 5%;
	padding: 5%;
}


.main-footer {
	width: 100%;
	background-color: #F2F2F2;
	
}
.list {
	margin-left: 3%;
	display:flex;
	width: 73%;
	padding: 1%;
	justify-content: space-between;
	text-align: left;
}
.list h3 {
	margin-bottom: 3%;
}

.main-footer ul {
	list-style: none;
	padding: 3%;
	justify-content: space-between;
}


@media all and (max-device-width: 450px) {
	*{
		margin: ;
	}

	.main-nav {
		margin: 0;
		padding: 0;
		width: auto;
		flex-direction: column;
	}
	.main-nav-list{
		
		padding: 0;
		width: 100%;
		justify-content: space-between;
		font-size: smaller ;
	}
	.nav {
		
		margin-left: auto;
		margin-right: auto;
		
	}
	#logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 50%;
	}
	.searchbox {
		width: 100%;
	}
	.mobile {
		display: contents;
	}
	.desktop {
		display: none;
	}
	.box {
		display: block;
			}
	
	.ligne {
		width: 90%;
		flex-wrap: wrap;
		padding: 2%;
	}
	.filters {
		padding-right: 12%;
		column-gap: 20%;
	}
	.filters .fa-solid {
		padding: 40%;
	}
	.first-section {
		margin-left: 0;
		margin-right: 0;
		display: flex;	
		flex-direction: column-reverse;
				}

	.hébergements, .populaires {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding: auto;
	}
	.hébergements {
		background-color: white;
		padding: 2%;
		margin: 2%;
	}
	.table,.tables {
		display: flex;
		flex-direction: column;
		
		justify-content: space-around;
		align-self: center;
		
	}
	.cards {
		width: 90%;
	}
.activités {
	display: block;
}
.post, .small, .petit-post {
	width: 100%;
}
.list {
	
	display: block;
	margin-left: 0;
}
	
}



